.swiper-pagination-bullets {
  bottom: 50px !important;
}

.swiper-pagination-bullet {
  background: var(--color-primary) !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}
